<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by Alex Joiner.
  </p>
  <br />
    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'alex.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alex Joiner</h2>
      <br />
      <p>
        Alex Joiner is a student web developer.
      </p>
    </div>
  </div>
  <br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />