<div class="col-10 offset-1 about">
  <h1>About Historical Quote Generator</h1>
  <p>
    Historical qoutes generator was built by Alex Joiner. HQG™ was created to teach children important quotes and lessons from the past.
  </p>
  <br />
    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'alex.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alex Joiner</h2>
      <br />
      <p class="bio">
        Alex Joiner is a student web developer who hopes to be quoted by a future student web developer's project.
      </p>
    </div>
  </div>
  <br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />